<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HANGMAN</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content='yes' name='apple-mobile-web-app-capable'/>
    <meta content='yes' name='mobile-web-app-capable'/>
    <link href="/stylesheets/styles.css" rel="stylesheet">
    <link href="/images/favicon.ico" rel="icon">
  </head>
  <body>
    <header>
      <h1>H A N G M A N</h1>
    </header>
    <main>
      <%== yield %>
    </main>
  </body>
</html>
