<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OFFICE HANGMAN</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/stylesheets/styles.css" rel="stylesheet">
    <link href="/images/favicon.ico" rel="icon">
  </head>
  <body>
    <header>
      <a href="/welcome"><h1>OFFICE - HANGMAN</h1></a>
    </header>
    <main>
      <%== yield %>
    </main>
    <footer>
      <div class="info">Episode information provided by:</div><a href="https://www.themoviedb.org"><img class="tmdb-logo" src= "/images/tmdb_logo.svg"></a>
      <hr class="footer-hr">
      <div class="info">Website designed by:</div> <div class="info">Caleb Mitchell - calebj.mitchell@gmail.com</div>
      <a href="https://github.com/Caleb-Mitchell"><img class="footer-icon" src="/images/square-github.svg" alt="github icon"> Github</a> - <a href="https://www.linkedin.com/in/caleb-j-mitchell/"><img class="footer-icon" src="/images/linkedin.svg" alt="linkedin icon"> LinkedIn</a>
    </footer>
  </body>
</html>
