<div class="gallows">
  <img src="/images/welcome.svg" alt="Welcome to Hangman!">
</div>

<div class="start-button">
  <form method="POST" action="/welcome">
    <button type="submit">Press Here to Start</button>
  </form>
</div>
