<section class="gallows">
  <img src="/images/welcome.svg" alt="Welcome to Hangman!">
</div>

<section class="start">
  <p class="try-to-guess">Try to guess the <strong>title</strong> of a random episode from "The Office"!</p>

  <div class="start-button">
    <form class="start-button" method="POST" action="/welcome">
      <button class="start-button" type="submit">Press Here to Start</button>
    </form>
  </div>
</section>
