body {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-top: 1rem;
  margin-bottom: -2vh;
  display: flex;
  justify-content: center;
}

h2.ep-title {
  margin-top: auto;
}

h4.ep-title {
  margin-top: auto;
}

h5.ep-description {
  font-style: italic;
  margin-top: auto;
  text-align: center;
}

section.gallows {
  margin-top: -2rem;
  width: 80%;
  max-height: 500px;
  max-width: 500px;
}

section.alpha-pick {
  width: 100%;
  margin-top: 1vh;
}

div.alpha-grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 2.5vh;
  width: 100%;
}

div.alpha-grid-1,
div.alpha-grid-2,
div.alpha-grid-3 {
  display: flex;
  justify-content: space-between;
  grid-gap: 3vw;
  justify-content: center;
}

div.play-again-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.secret-letter-list {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

form.start-button {
  margin-top: -2vh;
}

button {
  padding: 1.5vw;
  font-size: 2vh;
  color: black;
  background-color: #e9e9ed;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

button.letter {
  width: 6vw;
}

button.correct {
  border: .5px solid green;
}

button.incorrect {
  border: .5px solid red;
}

button.guessed {
  background-color: #cfcfd5;
}


button.avail:hover {
  background-color: #cfcfd5;
}

button.start-button {
  margin-left: 6vh;
}

button.start-button:hover {
  background-color: #cfcfd5;
}

fieldset.play-again {
  margin-bottom: 2vh;
}

fieldset.play-again button {
  padding: 1vw;
  width: 10vw;
}

fieldset.play-again p {
  text-align: center;
}

.secret-letter-list li {
  list-style: none;
  margin: 0 0.4vw 0;
  font-size: 8vw;
}

.wrong-letter {
  color: red;
}

.right-letter {
  color: green;
}

@media only screen and (max-width: 450px) {
  h1 {
    margin-top: 2rem;
    margin-bottom: -5vh;
  }

  div.start-button {
    margin-top: 2rem;
  }

  section.gallows {
    margin-top: -0.5rem;
    margin-bottom: -6vh;
    width: 110%;
    max-height: 600px;
    max-width: 600px;
  }

  button {
    font-size: 2vh;
  }

  button.start-button {
    margin-top: -3vh;
    font-size: 2.5vh;
    margin-left: 8vh;
  }
}

@media only screen and (min-width: 1000px) {
  button.letter {
    width: 5vw;
    padding: 1vw;
  }

  div.alpha-grid {
    grid-gap: 2vh;
  }

  div.alpha-grid-1,
  div.alpha-grid-2,
  div.alpha-grid-3 {
    grid-gap: 2vw;
  }

  .secret-letter-list li {
    font-size: 4vw;
  }

  @media only screen and (min-width: 2000px) {
    button.letter {
      width: 4vw;
    }

    div.alpha-grid {
      grid-gap: 1.5vh;
    }

    div.alpha-grid-1,
    div.alpha-grid-2,
    div.alpha-grid-3 {
      grid-gap: 1.5vw;
    }

    .secret-letter-list li {
      font-size: 3vw;
    }
  }
}
